{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
    <div data-ng-app="invoicer" data-ng-view></div>
{% endblock body %}

{% block css %}{% endblock css %}

{% block js %}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular-resource.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/controllers/customers.js' %}"></script>
{% endblock js %}
